[submodule "3rdparty/libsodium"]
	path = 3rdparty/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "3rdparty/thrift"]
	path = 3rdparty/thrift
	url = https://github.com/apache/thrift.git
[submodule "3rdparty/pysodium"]
	path = 3rdparty/pysodium
	url = https://github.com/stef/pysodium.git
