[submodule "3rdparty/libsodium"]
	path = 3rdparty/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "3rdparty/cppunit"]
	path = 3rdparty/cppunit
	url = git://anongit.freedesktop.org/git/libreoffice/cppunit/
[submodule "3rdparty/libjson-rpc-cpp"]
	path = 3rdparty/libjson-rpc-cpp
	url = https://github.com/cinemast/libjson-rpc-cpp.git
