[submodule "3rdparty/libsodium"]
	path = 3rdparty/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "3rdparty/cppunit"]
	path = 3rdparty/cppunit
	url = git://anongit.freedesktop.org/git/libreoffice/cppunit/
[submodule "3rdparty/thrift"]
	path = 3rdparty/thrift
	url = https://github.com/apache/thrift.git
